* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
    background-color: cornsilk;
}

header {
    div {
        padding: 15px;
        background-color: teal;
        color: #fff;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    }
}

main {
    ul {
        list-style: none;
    }
    
    .cards {
        display: flex;
        max-width: 1000px;
        margin: auto;
        gap: 10px;
        padding: 10px;
        justify-content: center;

        .card {
            border: 1px solid #e4e4e4;
            border-radius: 5px;
            width: 400px;
            padding: 10px 10px 20px;
            background-color: #fff;
            height: 300px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

            .thumbnail > img{
                width: 100%;
                border-radius: 7px;
            }

            .info {
                color: #121212;
                margin-top: 10px;
                text-align: left;
                
                h2 {
                    font-size: 1.5em;
                }

                p {
                    font-size: 0.9em;
                }
                
                a {
                    color: #121212;
                    text-decoration: none;
                }

            }
        }
    }
}

/* Google Fonts */
h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

header > .navbar,
footer, 
p {
    font-family: 'Montserrat', sans-serif;

}
