* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #000;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header, .header {
    background-color: #000000;
    color: white;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
}

nav h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 150px 100px;
    background: url(../images/herosection.png);
    background-position: right;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: left;

    @media (max-width: 900px) {
        background-size: contain;
    }

    @media (max-width: 500px) {
        padding: 50px;
    }
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    z-index: 1;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    z-index: 1;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.cta-button {
    z-index: 1;
    background-color: #128c9a;
    color: white;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background 0.3s ease;
    z-index: 10;
}

.cta-button:hover {
    background-color: #26c6be;
}

section {
    padding: 200px 20px;
    text-align: center;
}

.features-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.feature {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    background-color: white;
}


html {
    scroll-behavior: smooth;
}

#features, #how-it-works, #back-us, #hero {
    scroll-margin-top: 58px;
}

.other-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;

    .block-item {
        max-width: 500px;
        padding: 30px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        
        img{
            max-width: 250px;
            width: 100%;
        }
    }
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;

}
